body { font-family: 'Montserrat', sans-serif !important;

}


.jumbotron {
    padding-top: 2rem ;
    background-color: #ebe8e8;
}


#About {
    padding-top: 4rem ;
    background-color: #000000;
}

#Projects {
    padding-top: 2rem ;
    background-color: #ebe8e8;
}